.fs-25{
    font-size: 18px;
}

.fs-35{
    font-size: 35px!important;
}

.fs-20{
    font-size: 20px!important;
}
.stats-span{
    display: block; 
    float: right;
    margin-right: 1%;
}

.leyend{
    background-color: rgba(231, 231, 231, 0.3);
}

#cliente_recibidor_dni{
    white-space:nowrap;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}