{% extends 'base/base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Registro de barco Nominado</h2>
            <p class="card-description text-center">
                Información de la operación:
            </p>
            <form class="form-sample" id="" method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <!-- {{ form.as_p }} -->
                <div class="row">
                    <input type="hidden" class="form-control add-order" readonly placeholder="00001" name="user"
                        id="id_user" value="{{ user.id }}">
                    <input type="hidden" name="state" id="id_state" value="En espera">
                    <div class="col-md-7" id="info-load">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li> Nro de Orden:</li>
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control add-order" readonly placeholder="00001">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Nombre del Cliente</li>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control add-order" type="text" name="customer_name"
                                        maxlength="150" required id="id_customer_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Origen de la orden</li>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control add-order" type="text" name="origin_order"
                                        maxlength="150" required id="id_origin_order">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Nombre del buque</li>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control add-order" type="text" name="buque_name" maxlength="150"
                                        required id="id_buque_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Producto</li>
                                </label>
                                <div class="col-sm-7">
                                    <div>
                                        <input class="form-control add-order" type="text" maxlength="150"
                                            style="width:  50%; height: 30%!important; display: inline;"
                                            id="add_product">
                                        <button class="btn btn-sm btn-primary" type="button"
                                            id="button_add_product">Añadir Producto</button>
                                    </div>
                                    <label for="id_product">Lista de productos:</label>
                                    <select class="add-order js-example-basic-multiple w-100" multiple
                                        style="width: 100%;" name="product" id="id_product" required>
                                        <option disabled>Ingrese Nuevos productos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Unidad de volumen:</li>
                                </label>
                                <div class="col-sm-7">
                                    <select class="form-control add-order" name="unit_measurement" required
                                        id="id_unit_measurement">
                                        <option selected value="toneladas métricas">Toneladas Métricas</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" id="leyend-info-load">
                        <div class="col-md-12 rounded border border-info h-75 d-inline-block mt-xl-5 leyend">
                            <div class="text-center mt-xl-3">
                                <h3>Leyenda de Información:</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row float-right mr-xl-1">
                            {% if redirect_field_value %}
                            <input required type="hidden" name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}" />
                            {% endif %}
                            <!-- <div class="text-right mr-xl-4">
                                <button type="submit" class="btn btn-dark">Ver lista de órdenes</button>
                            </div> -->
                            <div class="text-right">
                                <button type="submit" class="btn btn-success" id="save-info">Nominar nuevo
                                    barco</button>
                                <!-- <button type="button" class="btn btn-success" id="sig-info">Siguiente</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>

<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<!-- <script src="{% static 'js/main.js' %}"></script> -->

<script>
    $('#add_product').keypress(function (e) {
        if (e.keyCode == 13) {
            event.preventDefault()
            $.ajax({
                data: {
                    'product': $("#add_product").val(),
                },
                url: "{% url 'transactions:add_product' %}",
                type: 'post',
                beforeSend: function () { },
                success: function (data) {
                    $('#add_product').val('');
                    var val = data[0].pk;
                    var name = data[0].fields.name;
                    $('#id_product').append('<option selected value=' + val + '>' + name + '</option>');
                },
            });
        }
    })

    $('#button_add_product').on('click', function () {
        event.preventDefault();
        $.ajax({
            data: {
                'product': $("#add_product").val(),
            },
            url: "{% url 'transactions:add_product' %}",
            type: 'post',
            beforeSend: function () { },
            success: function (data) {
                console.log(data)
                $('#add_product').val('');
                var val = data[0].pk;
                var name = data[0].fields.name;
                $('#id_product').append('<option selected value=' + val + '>' + name + '</option>');
            },
        });
    })
</script>


{% endblock %}