{% extends 'base/base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Registro de buque Nominado</h2>
            <p class="card-description text-center">
                Información de la operación:
            </p>
            <form class="form-sample" id="FORM" method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <!-- {{ form.as_p }} -->
                <div class="row">
                    <input type="hidden" class="form-control add-order" readonly placeholder="00001" name="user"
                        id="id_user" value="{{ user.id }}">
                    <input type="hidden" name="state" id="id_state" value="Aceptado">
                    <div class="col-md-12">
                        <h3 class="mb-xl-4" id="text-order-type">Por favor seleccione el tipo de orden:</h3>
                        <h3 class="mb-xl-4 d-none" id="text-info">Información de la orden:</h3>
                    </div>
                    <div class="row col-md-12" id="type_load">
                        <div class="col-md-6">
                            <div class="form-group form-check form-check-success ml-xl-3">
                                <label class="form-check-label fs-35">
                                    <span class="ti-upload"></span><input required type="radio" class="form-check-inpu"
                                        name="order_type" id="id_order_type" value="carga">
                                    Carga
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-check form-check-success ml-xl-3">
                                <label class="form-check-label fs-35">
                                    <span class="ti-download"></span><input required type="radio"
                                        class="form-check-input" name="order_type" id="id_order_type" value="descarga">
                                    Descarga
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 d-none" id="info-load">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li> Nro de Orden:</li>
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control add-order" readonly placeholder="00001">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Nro Referencia (Cliente):</li>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control add-order" type="text" name="number_invoice_client"
                                        min="0" required id="id_number_invoice_client"
                                        maxlength="10" placeholder="Nro de referencia dado por el cliente">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Nro Referencia (Aivepet):</li>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control add-order" type="text" name="number_invoice_aivepet"
                                        min="0" required id="id_number_invoice_aivepet"
                                        maxlength="10" placeholder="Nro de referencia propio de aivepet">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Cliente (aivepet)</li>
                                </label>
                                <div class="col-sm-7">
                                    <select class="add-order js-example-basic custom-select w-100" style="width: 100%;"
                                        name="customer_name" id="id_customer_name" required>
                                        <option disabled selected>Seleccione el cliente previamente registrado</option>
                                        {% for q in users %}
                                        {% if q.role == 'CL' %}
                                        <option value="{{ q.pk }}">{{ q.first_name|title }} {{ q.last_name|title }}.
                                            Empresa: {{ q.company_name|title }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                 <div class="col-sm-12 text-center">
                                    <div class="form-group row text-center ml-xl-3" style="color: darkgray; font-size: 12px; margin-bottom: 0px;">
                                        Nota: Este es el usuario que tendrá cuenta y acceso al tracking.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                    <h3>Cliente Suplidor:</h3>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"><li>Empresa:</li></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control add-order"
                                                placeholder="Nombre de la empresa emisor" id="id_company_name" name="company_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"><li>Responsable:</li></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control add-order"
                                                placeholder="Nombre del responsable" id="id_name" name="name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"><li>Rif/Cédula:</li></label>
                                        <div class="form-row">
                                            <div class="col mt-xl-1">
                                                <select class="custom-select add-order" id="id_tipdoc" name="tipdoc">
                                                    <option value="V">V</option>
                                                    <option value="E">E</option>
                                                    <option value="J">J</option>
                                                    <option value="G">G</option>
                                                </select>
                                            </div>
                                            <div class="col mt-xl-1">
                                                <input type="number" class="form-control add-order"
                                                placeholder="Rif/CI" id="id_dni" name="dni" maxlength="9" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                    <h3>Cliente recibidor:</h3>
                                    <div class="jumbotron" style="padding: 15px">
                                        <p class="lead">Aqui puede añadir los multiples clientes recibidores de la orden, Estos se veran reflejados en el lado derecho de esta ventana.
                                    </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"><li>Empresa:</li></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control add-order"
                                                placeholder="Nombre de la empresa recibidor" id="cliente_recibidor_empresa">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"><li>Comprador:</li></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control add-order"
                                                placeholder="Nombre del responsable" id="cliente_recibidor_comprador">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"><li>Rif/Cédula:</li></label>
                                        <div class="form-row">
                                            <div class="col  mt-xl-1">
                                                <select class="custom-select add-order" id="cliente_recibidor_tipdoc">
                                                    <option value="V">V</option>
                                                    <option value="E">E</option>
                                                    <option value="J">V</option>
                                                    <option value="G">G</option>
                                                </select>
                                            </div>
                                            <div class="col mt-xl-1">
                                                <input type="number" class="form-control add-order"
                                                placeholder="Rif/CI" id="cliente_recibidor_dni" maxlength="9" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                            </div>
                                        <div class="col mt-sm-1">
                                            <button class="btn btn-sm btn-success" type="button"
                                                id="cliente_recibidor_button">Añadir</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="mb-xl-4">Información del buque:</h3>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Nombre del buque</li>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control add-order" type="text" name="buque_name" maxlength="150"
                                        required id="id_buque_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Nombre/Nro del puerto</li>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control add-order" type="text" name="port_name" maxlength="150"
                                        required id="id_port_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Nro/Color del muelle</li>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control add-order" type="text" name="numero_muelle" min="0"
                                        required id="id_numero_muelle" maxlength="7">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Productos</li>
                                </label>
                                <div class="col-sm-7">
                                    <div>
                                        <div class="form-row">
                                            <div class="col">
                                                <input class="form-control" type="text" maxlength="150"
                                                    id="add_product_name" placeholder="Producto">
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="number" maxlength="150"
                                                    id="add_product_weight" placeholder="Peso nominado">
                                            </div>
                                        </div>
                                        <div class="text-center mt-xl-2">
                                            <button class="btn btn-sm btn-success" type="button"
                                                id="button_add_product">
                                                Añadir Producto
                                            </button>
                                        </div>
                                    </div>
                                    <label for="id_product" class="mt-xl-2">Lista de productos:</label>
                                    <select class="add-order js-example-basic-multiple w-100" multiple
                                        style="width: 100%;" name="product" id="id_product" required>
                                        <option disabled>Ingrese arriba nuevos productos</option>
                                        {% for q in products %}
                                        <option value="{{ q.pk }}">{{ q.name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">
                                    <li>Unidad de volumen:</li>
                                </label>
                                <div class="col-sm-7">
                                    <select class="form-control add-order" name="unit_measurement" required
                                        id="id_unit_measurement">
                                        <option selected value="toneladas métricas">Toneladas Métricas</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 d-none" id="leyend-info-load">
                        <div class="col-md-12 rounded border border-info d-inline-block mb-xl-2 leyend" style="height: 100%;">
                            <div class="text-center mt-xl-3">
                                <h3>Observaciones:</h3>
                                <textarea class="form-control" id="id_comment" rows="15" name="comment"
                                    style="resize: vertical"
                                    placeholder="Anote aquí las observaciones del buque que crea pertinentes, este campo no es obligatorio"></textarea>
                            </div>
                            <label class="col-sm-12 col-form-label text-center fs-20 mt-xl-3">Clientes
                                recibidores:</label>
                            <div class="col-sm-12 ml-xl-3">
                                {{ form.receiving_customer }}
                                <ul id="customer_list" style="margin-bottom: 0px;">
                                    {% if orden.receiving_customer.all %}
                                    {% for customer in orden.receiving_customer.all %}
                                    <li>
                                        <span>Empresa:{{ customer.company_name }} <br>
                                            Responsable: {{ customer.name }} <br>
                                            {{ customer.tipdoc }}: {{ customer.dni }} <br>
                                            Fecha de adición {{ customer.start_date|date:"d/m/Y g:i:a" }}
                                        </span>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li id="not_customer">
                                        No hay clientes registrados
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row float-right mr-xl-1">
                            {% if redirect_field_value %}
                            <input required type="hidden" name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}" />
                            {% endif %}
                            <!-- <div class="text-right mr-xl-4">
                                <button type="submit" class="btn btn-dark">Ver lista de órdenes</button>
                            </div> -->
                            <div class="text-right mt-xl-2">
                                <button type="submit" class="btn btn-success d-none" id="save-info">Crear nueva
                                    orden</button>
                                <!-- <button type="button" class="btn btn-success" id="sig-info">Siguiente</button> -->
                                <button type="button" class="btn btn-success mt-xl-2" data-toggle="modal"
                                    data-target="#exampleModal" id="modal-button" disabled>
                                    Confirmar orden
                                </button>
                            </div>
                            <!-- {{ form.as_p }} -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="exampleModalLabel">CONFIRMAR REGISTRO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 id="modal-body" class="text-center"></h3>
                <h4 class="text-center mt-3">¿Está usted seguro?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal" style="color: white;">Cerrar</button>
                <button type="button" class="btn btn-success mr-auto" id="sig-info">Confirmar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>

<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    $('#id_receiving_customer').css('display', 'none')
    $('#add_product_name').on('click', function () {
        $(this).css('border-color', '')
    })
    $('#add_product_weight').on('click', function () {
        $(this).css('border-color', '')
    })
    $('#add_product').keypress(function (e) {
        if (e.keyCode == 13) {
            event.preventDefault()
            $.ajax({
                data: {
                    'product': $("#add_product_name").val(),
                    'weight': $("#add_product_weight").val(),
                },
                url: "{% url 'transactions:add_product' %}",
                type: 'post',
                beforeSend: function () { },
                success: function (data) {
                    console.log(data);
                    $('#add_product').val('');
                    var val = data[0].pk;
                    var name = data[1].fields.name;
                    $('#id_product').append('<option selected value=' + val + '>' + name + '</option>');
                },
            });
        }
    })

    $('#button_add_product').on('click', function () {
        event.preventDefault();
        if ($("#add_product_name").val() || $("#add_product_weight").val()) {
            $.ajax({
                data: {
                    'product': $("#add_product_name").val(),
                    'weight': $("#add_product_weight").val(),
                },
                url: "{% url 'transactions:add_product' %}",
                type: 'post',
                beforeSend: function () { },
                success: function (data) {
                    console.log(data)
                    $('#add_product_name').val('');
                    $('#add_product_weight').val('');
                    var val = data[0].pk;
                    var name = data[1].fields.name;
                    var tm = data[0].fields.weight;
                    $('#id_product').append('<option selected value=' + val + '>' + name + ' Peso: ' + tm + 'TM</option>');
                },
            });
        } else {
            if (!$('#add_product_name').val()) {
                $('#add_product_name').css('border-color', 'red')
            }
            if (!$('#add_product_weight').val()) {
                $('#add_product_weight').css('border-color', 'red')
            }
        }
    })
    $('#cliente_recibidor_comprador').on('click', function(){
        $(this).css('border-color', '')
    })
    $('#cliente_recibidor_empresa').on('click', function(){
        $(this).css('border-color', '')
    })
    $('#cliente_recibidor_dni').on('click', function(){
        $(this).css('border-color', '')
    })
    $('#cliente_recibidor_tipdoc').on('click', function(){
        $(this).css('border-color', '')
    })
    $('#cliente_recibidor_button').on('click', function () {
        event.preventDefault();
        if(!$('#cliente_recibidor_comprador').val() || !$('#cliente_recibidor_empresa').val() || !$('#cliente_recibidor_dni').val()){
            if(!$('#cliente_recibidor_comprador').val()){
                $('#cliente_recibidor_comprador').css('border-color', 'red')
            }
            if(!$('#cliente_recibidor_empresa').val()){
                    $('#cliente_recibidor_empresa').css('border-color', 'red')
                }
            if(!$('#cliente_recibidor_dni').val()){
                    $('#cliente_recibidor_dni').css('border-color', 'red')
                }
            if(!$('#cliente_recibidor_tipdoc').val()){
                    $('#cliente_recibidor_tipdoc').css('border-color', 'red')
                }
        }else{
            $.ajax({
                data: {
                    'cliente': $('#cliente_recibidor_comprador').val(),
                    'empresa': $('#cliente_recibidor_empresa').val(),
                    'dni': $('#cliente_recibidor_dni').val(),
                    'tipodc': $('#cliente_recibidor_tipdoc option:selected').val()
                },
                url: "{% url 'transactions:add_reciving_customers' %}",
                type: 'post',
                beforeSend: function () { },
                success: function (data) {
                    $('#cliente_recibidor_comprador').val('')
                    $('#cliente_recibidor_empresa').val('')
                    $('#cliente_recibidor_dni').val('')
                    var val = data[0].pk
                    var name = data[0].fields.name
                    var company = data[0].fields.company_name
                    var dni = data[0].fields.dni
                    var tipdoc = data[0].fields.tipdoc
                    $('#id_receiving_customer').append('<option selected value=' + val + '>' + name + ' </option>');
                    $('#destiny_customer').append('<option value=' + val + '>' + name + ' </option>');
                    $("#customer_list").append('<li> Empresa: '+ company + '<br> Responsable: ' + name + '<br> '+ tipdoc +': ' + dni + '</li>');
                    $('#not_customer').css('display', 'none');
                },
            });
        }
    })

    $('#cliente_recibidor_dni').keypress(function (e) {
        if (e.keyCode == 13) {
            event.preventDefault()
            if(!$('#cliente_recibidor_comprador').val() || !$('#cliente_recibidor_empresa').val() || !$('#cliente_recibidor_dni').val()){
            if(!$('#cliente_recibidor_comprador').val()){
                $('#cliente_recibidor_comprador').css('border-color', 'red')
            }
            if(!$('#cliente_recibidor_empresa').val()){
                    $('#cliente_recibidor_empresa').css('border-color', 'red')
                }
            if(!$('#cliente_recibidor_dni').val()){
                    $('#cliente_recibidor_dni').css('border-color', 'red')
                }
            if(!$('#cliente_recibidor_tipdoc').val()){
                    $('#cliente_recibidor_tipdoc').css('border-color', 'red')
                }
            }else{
                $.ajax({
                    data: {
                        'cliente': $('#cliente_recibidor_comprador').val(),
                        'empresa': $('#cliente_recibidor_empresa').val(),
                        'dni': $('#cliente_recibidor_dni').val(),
                        'tipodc': $('#cliente_recibidor_tipdoc option:selected').val()
                    },
                    url: "{% url 'transactions:add_reciving_customers' %}",
                    type: 'post',
                    beforeSend: function () { },
                    success: function (data) {
                        $('#cliente_recibidor_comprador').val('')
                        $('#cliente_recibidor_empresa').val('')
                        $('#cliente_recibidor_dni').val('')
                        var val = data[0].pk
                        var name = data[0].fields.name
                        var company = data[0].fields.company_name
                        var dni = data[0].fields.dni
                        var tipdoc = data[0].fields.tipdoc
                        $('#id_receiving_customer').append('<option selected value=' + val + '>' + name + ' </option>');
                        $('#destiny_customer').append('<option value=' + val + '>' + name + ' </option>');
                        $("#customer_list").append('<li> Empresa: '+ company + '<br> Responsable: ' + name + '<br> '+ tipdoc +': ' + dni + '</li>');
                        $('#not_customer').css('display', 'none');
                    },
                });
            }
        }
    })
</script>


{% endblock %}