{% extends 'base/base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% load static %}
{% load humanize %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
<link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Seguimiento de la orden nominada de {{ orden.order_type }}</h2>
            <p class="card-description text-center">
                Información de carga:
            </p>
            <form class="form-sample" id="" method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1 mb-xl-3" style="background-color: #F5F7FF;">
                    <div class="col-md-6 mt-xl-3">
                        <h3 class="mb-xl-4">Tipo de orden: <span style="color: #57B657;"> {{ orden.order_type|title }}</span></h3>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <label for="id_state" class="mt-xl-4 mr-xl-3 ml-xl-3">Estado de la orden:</label>
                            <select class="custom-select add-order mt-xl-3 mr-xl-3" id="id_state" name="state"
                                style="width: 50%;">
                                <option value="Aceptado" {% if orden.state == 'Aceptado' %} selected {% endif %}>Aceptado
                                </option>
                                <option value="Nominado" {% if orden.state == Nominado %} selected {% endif %} disabled>
                                    Nominado</option>
                                <option value="En operación" {% if orden.state == 'En operación' %} selected {% endif %}>
                                    En operación</option>
                                <option value="Finalizado" {% if orden.state == 'Finalizado' %} selected {% endif %}>
                                    Finalizado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Número de Orden:
                                <b>000{{ orden.id }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Número de referencia (Cliente):
                                <b>{{ orden.number_invoice_client|title }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Número de referencia (Aivepet):
                                <b>{{ orden.number_invoice_aivepet|title }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Nombre del Cliente:
                                <b>{{ orden.customer_name.first_name|title }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Nombre del buque: <b>{{ orden.buque_name|title }}</b></div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Nombre del puerto: <b>{{ orden.port_name|title }}</b></div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Número del muelle: <b>{{ orden.numero_muelle|title }}</b></label>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Unidad de medida:
                                <b>{{ orden.unit_measurement|title }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            {{ form.receiving_customer }}
                            <div class="col-sm-12 col-form-label">Clientes recibidores:
                                <b>
                                    <ul>
                                            {% for customer in orden.receiving_customer.all %}
                                            
                                        <li> 
                                            <span>Empresa: {{ customer.company_name|title }} <br />
                                                Responsable: {{ customer.name|title }} <br />
                                                Nro de Identificación: {% if customer.tipdoc == 'N/A' %} N/A {% else %}  {{ customer.tipdoc }}: {{ customer.dni }} {% endif %}<br />
                                                {% if orden.order_type == 'carga' %} Cargado: {{ customer.quantity }}  (TM) 
                                                {% else %} Descargado: {{ customer.quantity }}  (TM) 
                                                {% endif %}
                                                <br>
                                            </span>
                                            
                                        </li>
                                            {% endfor %}
                                    </ul>
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Cliente Suplidor:
                                <b>
                                    <ul>
                                        <li> 
                                            <span>
                                                Empresa: {{ orden.company_name|title }} <br>
                                                Responsable: {{ orden.name }} <br />
                                                Nro de Identificación: {% if orden.tipdoc == 'N/A' %} N/A {% else %} {{ orden.tipdoc }}: {{ orden.dni }}{% endif %} <br />
                                                </span>
                                        </li>
                                    </ul>
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Productos:
                                <ul>
                                    {% for product in orden.product.all %}
                                        <li>
                                            <b>{{ product.product_id.name|title }}</b>
                                            <br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label"> Cantidades:
                                
                                <ul>
                                    {% for product in orden.product.all %}
                                        <li>
                                            <b>{{ product.weight|floatformat:3|intcomma }} (TM) .</b>
                                            <br>
                                        </li>
                                    {% endfor %}
                                    <li>
                                        <strong>Cantidad nominada: {{ orden.total_product_weight|floatformat:3|intcomma }}  (TM) .</strong>
                                    </li>
                                </ul>

                                <!-- <ul>
                                        <li>
                                            <strong>{{ orden.total_product_weight|floatformat:3|intcomma }} (TM) .</strong>
                                        </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Fecha de registro:
                                <b>{{ orden.start_date }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>