{% extends 'base/base.html' %}
{% block title %}
Lista de ordenes
{% endblock %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Lista de órdenes de barcos nominados (En espera)
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-datatable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>Nro. Orden</th>
                                        <!-- <th>Origen</th> -->
                                        <th>Tipo de orden</th>
                                        <th>Cliente</th>
                                        <th>Buque</th>
                                        <th>Producto</th>
                                        <th>Usuario</th>
                                        <th>Fecha de registro</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if ordenes %}
                                    {% for orden in ordenes %}
                                    <tr class="text-center">
                                        <td>000{{ orden.id }}</td>
                                        <!-- <td>{{ orden.origin_order }}</td> -->
                                        <td>{{ orden.order_type }}</td>
                                        <td>{{ orden.customer_name }}</td>
                                        <td>{{ orden.buque_name }}</td>
                                        <td>{% for product in orden.product.all %}
                                            {{ product.product_id.name|title }}.
                                            {% endfor %}</td>
                                        <td>{{ orden.user }}</td>
                                        <td>{{ orden.start_date|date:'d/m/Y G:i' }}</td>
                                        <td>
                                            <a class="btn btn-secondary {% if orden.state == 'En operación' %}disabled{% endif %}" href="{% url 'transactions:detail_nominal' pk=orden.pk %}">Ver</a>
                                            <a class="btn btn-danger{% if orden.state == 'En operación' %} {% endif %}" href="{% url 'transactions:delete_nominal_trans' pk=orden.pk %}">Eliminar</a>
                                            <br>
                                            <a class="btn btn-info mt-xl-1 {% if orden.state == 'En operación' %}disabled{% endif %}" href="{% url 'transactions:acepted_nominal_trans' pk=orden.pk %}">Comenzar operación</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
    $('#order-datatable').DataTable({
        "order": [[ 6, "desc" ]],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        },
    });
} );
</script>
{% endblock %}