{% extends 'base/base.html' %}
{% block title %}
Lista de Clientes
{% endblock %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Lista de Clientes
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-datatable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>Id</th>
                                        <th>Cliente</th>
                                        <th>Tip-Doc</th>
                                        <th>Num-Doc</th>
                                        <th>Empresa</th>
                                        <th>Fecha de adición</th>
                                        <!-- <th>Cliente</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                    <tr class="text-center">
                                        <td>{{ customer.pk }} </td>
                                        <td>{{ customer.name }} </td>
                                        <td>{{ customer.tipdoc }}</td>
                                        <td>{{ customer.dni }}</td>
                                        <td>{{ customer.company_name }}</td>
                                        <td>{{ customer.start_date }} </td>
                                        <!-- <td>000{{ orden.id }}</td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
    $('#order-datatable').DataTable({
        "order": [[ 6, "desc" ]],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        },
    });
} );
</script>
{% endblock %}