{% extends 'base/base.html' %}
{% block title %}
Lista de ordenes
{% endblock %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Lista de órdenes de barcos nominados (En espera)
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-datatable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>Nro. Orden</th>
                                        <th>Origen</th>
                                        <th>Cliente</th>
                                        <th>Buque</th>
                                        <th>Producto</th>
                                        <th>Usuario</th>
                                        <th>Fecha inicio</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if ordenes %}
                                    {% for orden in ordenes %}
                                    <tr class="text-center">
                                        <td>000{{ orden.id }}</td>
                                        <td>{{ orden.origin_order }}</td>
                                        <td>{{ orden.customer_name }}</td>
                                        <td>{{ orden.buque_name }}</td>
                                        <td>{% for product in orden.product.all %}
                                            {{ product.name }}.
                                            {% endfor %}</td>
                                        <td>{{ orden.user }}</td>
                                        <td>{{ orden.start_date|date:'d/m/Y G:i' }}</td>
                                        <td><a class="btn btn-success disabled" href="#">Actualizar</a></td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
    $('#order-datatable').DataTable({
        "order": [[ 6, "desc" ]]
    });
} );
</script>
{% endblock %}