{% extends 'base/base.html' %}
{% block title %}
Lista de ordenes
{% endblock %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {% url 'transactions:order_list_download' as download_url %}
                {% url 'transactions:order_list_load' as load_url %}
                <p class="card-title">Lista de órdenes de
                {% if request.path == load_url %}
                    Carga
                {% else %}
                    Descarga
                {% endif %}
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-datatable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr class="text-center">
                                        <!-- <th>Tipo</th> -->
                                        <th>Nro. Orden</th>
                                        <th>Ref Cliente</th>
                                        <th>Ref Aivepet</th>
                                        <th>Cliente</th>
                                        <th>Buque</th>
                                        <th>Producto</th>
                                        {% if user.role != 'CL' %}
                                        <th>Usuario</th>
                                        {% endif %}
                                        <th>Fecha inicio.</th>
                                        <th>Ult Act.</th>
                                        <th>Nro Act.</th>
                                        <th>Fecha Fin.</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if ordenes %}
                                    {% for orden in ordenes %}
                                    <tr class="text-center">
                                        {% if user.role == 'CL' %}
                                            <!-- <td>{{ orden.order_type|title }}</td> -->
                                                {% if orden.customer_name.pk == user.pk %}
                                                <td style="font-weight: bold;">000{{ orden.id }}</td>
                                                <td>{{ orden.number_invoice_client }}</td>
                                                <td>{{ orden.number_invoice_aivepet }}</td>
                                                <td>{{ orden.customer_name|title }}</td>
                                                <td style="font-weight: bold;">{{ orden.buque_name }}</td>
                                                <td>{% for product in orden.product.all %}
                                                    {{ product.product_id.name|title }}.
                                                    {% endfor %}</td>
                                                <td>{{ orden.start_date|date:'d/m/Y G:i' }}
                                                </td>
                                                <td>{{ orden.act_date|date:'d/m/Y G:i' }}
                                                </td>
                                                <td style="font-weight: bold;">{{ orden.updates }}
                                                </td>
                                                <td>{{ orden.final_date|date:'d/m/Y G:i' }}</td>
                                                <td>
                                                    <a class="btn btn-success" href="{% url 'transactions:client_view' pk=orden.pk %}">Ver</a>
                                                    {% if orden.state == 'Finalizado' %}
                                                    <a href="{% url 'transactions:pdf_view' pk=orden.pk %}" target="_blank" class="btn btn-danger mt-xl-1">Reporte final</a>
                                                    <a href="{% url 'transactions:pdf_view1' pk=orden.pk %}" target="_blank" class="btn btn-danger mt-xl-1">Reporte de transportes</a>
                                                    {% endif %}
                                                </td>
                                                {% endif %}
                                            {% else %}
                                                <td style="font-weight: bold;">000{{ orden.id }}</td>
                                                <td>{{ orden.number_invoice_client }}</td>
                                                <td>{{ orden.number_invoice_aivepet }}</td>
                                                <td>{{ orden.customer_name|title }}</td>
                                                <td style="font-weight: bold;">{{ orden.buque_name }}</td>
                                                <td>{% for product in orden.product.all %}
                                                    {{ product.product_id.name|title }}.
                                                    {% endfor %}</td>
                                                <td>{{ orden.user.username }}</td>
                                                <td>{{ orden.start_date|date:'d/m/Y G:i' }}
                                                </td>
                                                <td >{{ orden.act_date|date:'d/m/Y G:i' }}
                                                </td>
                                                <td style="font-weight: bold;">{{ orden.updates }}
                                                </td>
                                                <td>{{ orden.final_date|date:'d/m/Y G:i' }}</td>
                                                <td>
                                                    <!-- <a class="btn btn-secondary" onclick="mostrar('{% for history in orden.history.all %}{{ history.act_date|date:'d-m-Y_G:i' }},{% endfor %}')">Ver act</a><br> -->
                                                    <a class="btn btn-{% if orden.state == 'Finalizado' %}danger disabled {% else %}info{% endif %} mt-xl-1 " href="{% url 'transactions:update_order' pk=orden.pk %}">{% if orden.state == 'Finalizado' %}Finalizado{% else %}Actualizar orden{% endif %}</a>
                                                    <a href="{% url 'transactions:client_view' pk=orden.pk %}" class="btn btn-success mt-xl-1">Ver orden</a>
                                                    {% if orden.state == 'Finalizado' %}
                                                    <a href="{% url 'transactions:pdf_view' pk=orden.pk %}" target="_blank" class="btn btn-danger mt-xl-1">Reporte final</a>
                                                    <a href="{% url 'transactions:pdf_view1' pk=orden.pk %}" target="_blank" class="btn btn-danger mt-xl-1">Reporte de transportes</a>
                                                    {% endif %}
                                                </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Historico de actualizaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 id="modal-body"></h3>
                <h4 class="text-center">Lista de actualizaciones:</h4>
                <div id="historico-act" class="text-center">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <!-- <button type="button" class="btn btn-primary" id="sig-info">Confirmar</button> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
    $('#order-datatable').DataTable({
        "order": [[ 7, "desc" ]],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json",
            searchPlaceholder: "Buscar orden"
        },
    });
    } );
    function mostrar(id){
        event.preventDefault();
        $('#exampleModal').modal('show');
        let str = id;
        let arr = str.split(',');
        arr.pop()
        arr.pop()
        // let arr1 = [new Set(arr)]
        // console.log(arr1)
        console.log(arr)
        for (let i = 0; i < arr.length; i++) {
            if(arr[i].search('None') == -1){
                $('#historico-act').append(arr[i] + '<a href="'+arr[i]+'"class="btn btn-sm btn-secondary disabled mt-xl-2 mt-xl-2 ml-xl-2">Ver</a><br>')
            }
        }
    }
</script>
{% endblock %}