{% extends 'base/base.html' %}
{% block title %}
TRANSACCION REGISTRADA!
{% endblock %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">
                    <span class="ti-check" style="font-size: 50px; color: green;"></span>
                    Orden Registrada exitosamente
                </h1>
                <br>
                <div class="text-center">
                    <p class="mt-xl-2" style="font-size: 20px;">Puede visualizar la orden en los respectivos listados de carga/descarga</p>
                </div>
                <div class="text-center">
                    <a href="{% url 'transactions:order_list_load' %}" class="btn btn-success">Ir al listado de carga</a>
                    <a href="{% url 'transactions:order_list_download' %}" class="btn btn-info">Ir al listado de descarga</a>
                </div>
                <div class="text-center mt-xl-2">
                    <a href="{% url 'transactions:add_order_nominal' %}" class="btn btn-secondary">Añadir otra orden</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}