{% extends 'base/base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% load static %}
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Registrar nueva orden de carga</h2>
            <p class="card-description text-center">
                Información de carga:
            </p>
            <form class="form-sample" id="" method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-xl-4">Tipo de orden:</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-check form-check-success">
                            <label class="form-check-label">
                                <input required type="radio" class="form-check-input" name="order_type" id="order_type"  value="carga" {% if orden.order_type == 'carga' %}checked{% endif %} disabled>
                                Carga
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-check form-check-success">
                            <label class="form-check-label">
                                <input required type="radio" class="form-check-input" name="order_type" id="order_type" value="descarga" {% if orden.order_type == 'descarga' %}checked{% endif %} disabled>
                                Descarga
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Número de Orden:  </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control add-order" readonly placeholder="00001" value="{{ orden.id }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Número de Factura:</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order" value="{{ orden.number_invoice }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Unidad de medida:</label>
                            <div class="col-sm-8">
                                <select class="form-control add-order" disabled>
                                    <option selected>Toneladas Métricas</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Nombre del Cliente</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order" value="{{ orden.customer_name }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Cliente quien recibe</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order" value="{{ orden.receiving_customer }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Producto</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order" value="{{ orden.product }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Nombre del buque</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order" value="{{ orden.buque_name }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Nombre del puerto</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order" value="{{ orden.port_name }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Número del muelle</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order" value="{{ orden.numero_muelle }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-xl-4">Pesada: </h3>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Peso Bruto</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order"
                                    placeholder="Peso de la gandola sin la carga">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Peso de tara</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order"
                                    placeholder="pesada en la tara en toneladas métricas">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Peso Neto</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Pesada</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Condición</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Bodega</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order" placeholder="almacen donde se guardará la carga">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Destino 1</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Destino 2</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Destino 3</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Destino 4</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-xl-4">Transporte: </h3>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Vehículo</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Placa</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Nombre del Chofer</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Ficha</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">T.Muelle</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Dirección</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Barco/ALM</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Puerto</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Balanza</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Flete pagado por</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Sindicato</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Peso</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control add-order">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Comentario</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                {% if redirect_field_value %}
                <input required type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Guardar carga de orden</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}