{% extends 'base/base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% load static %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
<link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Seguimiento de la orden de {{ orden.order_type }}</h2>
            <p class="card-description text-center">
                Información de carga:
            </p>
            <form class="form-sample" id="" method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-6 mt-xl-3">
                        <h3 class="mb-xl-4">Tipo de orden: {{ orden.order_type|title }}</h3>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <label for="id_state" class="mt-xl-4 mr-xl-3 ml-xl-3">Estado de la orden:</label>
                            <select class="form-control add-order mt-xl-3 mr-xl-3" id="id_state" name="state" style="width: 50%;">
                                <option value="Aceptado" {% if orden.state == 'Aceptado' %} selected {% endif %}>Aceptado
                                </option>
                                <option value="Nominado" {% if orden.state == Nominado %} selected {% endif %} disabled>
                                    Nominado</option>
                                <option value="En operación" {% if orden.state == 'En operación' %} selected {% endif %}>
                                    En operación</option>
                                <option value="Finalizado" {% if orden.state == 'Finalizado' %} selected {% endif %}>
                                    Finalizado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Número de Orden: 000{{ orden.id }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Número de Factura:
                                {{ orden.number_invoice }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Nombre del Cliente:
                                {{ orden.customer_name }}</label>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Nombre del buque: {{ orden.buque_name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Producto:
                                {% for product in orden.product.all %}
                                {{ product.name }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Nombre del puerto: {{ orden.port_name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Número del muelle: {{ orden.numero_muelle }}</label>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Unidad de medida:
                                {{ orden.unit_measurement }}</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-7">
                        <div class="border border-secondary rounded">
                            <div class="col-md-12">
                                <h2 class="mt-xl-2 text-center mb-xl-4">Actualización de la operación</h2>
                                <!-- <h3 class="mb-xl-4">Pesada: </h3> -->
                            </div>
                            <div class="row  ml-xl-3">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-5 col-form-label">Cliente comprador:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control add-order"
                                                placeholder="Cliente comprador" id="cliente_recibidor_input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <button class="btn btn-sm btn-primary" type="button"
                                                id="cliente_recibidor_button">Añadir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-xl-3">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-md-6 col-form-label">Producto:</label>
                                        <div class="col-sm-6">
                                            <!-- <input type="text" class="form-control add-order" placeholder="bodega del barco, de dónde procede el producto" name="Wineries" id="id_Wineries"> -->
                                            <select class="form-control add-order mt-xl-2" id="bodega_product">
                                                {% for product in orden.product.all %}
                                                <option value="{{ product.pk }}">{{ product.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control mt-xl-2" placeholder="Bodega Nueva"
                                                id="bodega_nueva" style="padding-left:  10%; height: 68%;">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control mt-xl-2" placeholder="Peso"
                                                id="bodega_peso" style=" height: 68%;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12 pt-xl-2">
                                            <button class="btn btn-sm btn-primary" type="button"
                                                id="bodega_nueva_button">Añadir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-xl-3">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Peso Neto:</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control add-order" name="net_weight"
                                                id="id_net_weight" {% if orden.net_weight %} value="{{ orden.net_weight }}"
                                                {% endif %} readonly>
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            Toneladas Métricas
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-xl-3">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Peso Bruto:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control add-order"
                                                placeholder="Peso que trae el producto en el barco" name="gross_weight"
                                                id="id_gross_weight" {% if orden.gross_weight %}
                                                value="{{ orden.gross_weight }}" {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-xl-3">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Peso de tara:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control add-order"
                                                placeholder="pesada en la tara en toneladas métricas" name="tare_weight"
                                                id="id_tare_weight" {% if orden.tare_weight %}
                                                value="{{ orden.tare_weight }}" {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-xl-3">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Pesada:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control add-order" name="heavy" id="id_heavy" 
                                            {% if orden.heavy %} value="{{ orden.heavy }}" {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-xl-3">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Total pesada:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control add-order" name="total_weighing"
                                                id="id_total_weighing" {% if orden.total_weighing %}
                                                value="{{ orden.total_weighing }}" {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-xl-3">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Condición:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control add-order" name="condition"
                                                id="id_condition" {% if orden.condition %} value="{{ orden.condition }}" {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="border border-secondary rounded mt-xl-3">
                            <div class="col-md-12">
                                <h2 class="mt-xl-2 text-center mb-xl-4">Destino</h2>
                                <!-- <h3 class="mb-xl-4">Pesada: </h3> -->
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">
                                        <li>Registrar destino</li>
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control add-order" id="destino_input">
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-sm btn-primary mt-xl-1" type="button"
                                            id="destino_button">Añadir
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                       <div class="border border-secondary rounded mt-xl-3">
                            <div class="col-md-12">
                                <h2 class="mt-xl-2 text-center mb-xl-4">Transporte</h2>
                                <!-- <h3 class="mb-xl-4">Pesada: </h3> -->
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li>Peso:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="transport_weight"
                                            id="id_transport_weight" {% if orden.transport_wight %}
                                            value="{{ orden.transport_wight }}" {% endif %}>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li>Pesada:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="transport_heavy"
                                            id="id_transport_heavy" {% if orden.transport_heavy %}
                                            value="{{ orden.transport_heavy }}" {% endif %}>
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li>Tipo de vehículo:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="vehicle" id="id_vehicle">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Placa:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="license_plate"
                                            id="id_license_plate">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Nombre del Chofer:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="driver_name"
                                            id="id_driver_name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Ficha:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="ficha" id="id_ficha"
                                            placeholder="orden que tiene el transportista">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> T.Muelle:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Dirección:</li></label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="direction"
                                            itemid="id_direction"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Barco/ALM:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="boat_alm" id="id_boat_alm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Puerto:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Balanza:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="balance" id="id_balance">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Flete pagado por:</li></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control add-order" name="freight_paid_by"
                                            id="id_freight_paid_by">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><li> Comentario:</li></label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="comment"
                                            id="id_comment"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-sm btn-primary mt-xl-1" type="button" style="float: right;"
                                            id="transport_add">Añadir
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-12 rounded border border-info d-inline-block leyend" style="height: 100%;">
                            <div class="text-center mt-xl-3">
                                <h3>Resultado de la operación:</h3>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label text-center fs-20 mt-xl-3">Clientes compradores:</label>
                                    <div class="col-sm-12 ml-xl-3">
                                        {{ form.receiving_customer }}
                                        <ul id="customer_list" style="margin-bottom: 0px;">
                                            {% if orden.receiving_customer.all %}
                                            {% for customer in orden.receiving_customer.all %}
                                            <li>
                                                <span>{{ customer.name }} {{ customer.start_date|date:"d/m/Y g:i:a" }}
                                                </span>
                                            </li>
                                            {% endfor %}
                                            {% else %}
                                            <li id="not_customer">
                                                No hay clientes registrados
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="col-md-12 mt-xl-3" style="margin-top: 0px;">
                                        <hr>
                                    </div>
                                    <label class="col-sm-12 mt-xl-3 text-center fs-20">Productos:</label>
                                    <div class="col-sm-12 ml-xl-3">
                                        {% for product in orden.product.all %}
                                        <ul style="margin-bottom: 0px;">
                                            <li>
                                                <span> {{ product.name|title }}.</span>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-12 mt-xl-3" style="margin-top: 0px;">
                                        <hr>
                                    </div>
                                    <label class="col-sm-12 col-form-label mt-xl-3 text-center fs-20" style="padding-top: 0px;">Bodegas: TM = Toneladas Métricas</label>
                                    <div class="col-sm-12 ml-xl-3">
                                        {{ form.Wineries }}
                                        <ul id="wineries_list" style="margin-bottom: 0px;">
                                            {% if orden.Wineries.all %}
                                            {% for winerie in orden.Wineries.all %}
                                            <li>
                                                <span>{{ winerie.product.name|title }}; {{ winerie.number|title }}:
                                                    {{ winerie.weight }} TM: <br> Fecha de adición: {{ winerie.start_date|date:"d/m/Y g:i:a" }}
                                                </span>

                                            </li>
                                            {% endfor %}
                                            {% else %}
                                            <li id="not_winerie">
                                                No hay bodegas registradas
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="col-md-12 mt-xl-3" style="margin-top: 0px;">
                                        <hr>
                                    </div>
                                    <label class="col-sm-12 col-form-label mt-xl-3 text-center fs-20" style="padding-top: 0px;">
                                        Lista de Destinos:
                                    </label>
                                    <div class="col-sm-12">
                                        {{ form.destinations }}
                                        <ul id="destinations_list" class="col-md-12" style="margin-bottom: 0px;">
                                            {% if orden.destinations.all %}
                                            {% for destiny in orden.destinations.all %}
                                            <li class="col-md-12">
                                                <span>{{ destiny.destiny|title }} <br> Fecha de adición: {{ destiny.start_date|date:"d/m/Y g:i:a" }}</span>
                                            </li>
                                            {% endfor %}
                                            {% else %}
                                            <li id="not_destiny">
                                                No hay destinos registrados
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 0px;">
                                        <hr>
                                    </div>
                                    <label class="col-sm-12 col-form-label mt-xl-3 text-center fs-20" style="padding-top: 0px;">
                                        Transporte:
                                    </label>
                                    <div class="col-sm-12">
                                        <ul id="transport_list" class="col-md-12" style="margin-bottom: 0px;">
                                            {% if orden.transport.all %}
                                            {% for trans in orden.transport.all %}
                                            <li class="col-md-12">
                                                <span>
                                                    {{ trans.vehicle|title }} <br> Peso: {{ trans.transport_weight }}TM
                                                    <br>
                                                    Fecha de adición: {{ trans.start_date|date:"d/m/Y g:i:a" }}</span>
                                                    <br>
                                                    {{ trans.license_plate|title }} <br>
                                                    {{ trans.driver_name|title }} <br>
                                                    {{ trans.ficha|title }} <br>
                                                    {{ trans.direction|title }} <br>
                                                    {{ trans.boat_alm|title }} <br>
                                                    {{ trans.balance|title }} <br>
                                                    {{ trans.freight_paid_by|title }} <br>
                                                    {{ trans.comment|title }} <br>
                                            </li>
                                            {% endfor %}
                                            {% else %}
                                            <li id="not_transport">
                                                No hay transportes registrados
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="col-sm-12">
                                        <li>Pesada: <span id="pesada">{{ orden.transport_heavy }}</span></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-right pt-xl-2">
                    <button type="submit" class="btn btn-success">Actualizar orden</button>
                </div>
                <input type="hidden" name="user" id="id_user" value="{{ orden.user.id }}">
                <input type="hidden" name="order_type" id="id_order_type" value="{{ orden.order_type }}">
                <input type="hidden" name="order_number" id="id_order_number" value="{{ orden.order_number }}">
                <input type="hidden" name="number_invoice" id="id_number_invoice" value="{{ orden.number_invoice }}">
                <input type="hidden" name="unit_measurement" id="id_unit_measurement"
                    value="{{ orden.unit_measurement }}">
                <input type="hidden" name="customer_name" id="id_customer_name" value="{{ orden.customer_name }}">
                {{ form.product }}
                {{ form.transport }}
                <input type="hidden" name="buque_name" id="id_buque_name" value="{{ orden.buque_name }}">
                <input type="hidden" name="port_name" id="id_port_name" value="{{ orden.port_name }}">
                <input type="hidden" name="numero_muelle" id="id_numero_muelle" value="{{ orden.numero_muelle }}">
                <input type="hidden" name="transport_heavy" id="id_transport_heavy" value="{{ orden.transport_heavy }}">
                <input type="hidden" name="start_date" id="id_start_date" value="{{ orden.start_date }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

    $('#id_Wineries').css('display', 'none')
    $('#id_product').css('display', 'none')
    $('#id_destinations').css('display', 'none')
    $('#id_receiving_customer').css('display', 'none')
    $('#id_transport').css('display', 'none')

    $('#bodega_nueva').keypress(function (e) {
        if (e.keyCode == 13) {
            event.preventDefault()
            $.ajax({
                data: {
                    'transaccion': $('#id_order_number').val(),
                    'bodega_nueva': $("#bodega_nueva").val(),
                    'producto': $('#bodega_product').val(),
                    'peso': $('#bodega_peso').val(),
                },
                url: "{% url 'transactions:add_wineries' %}",
                type: 'post',
                beforeSend: function () { },
                success: function (data) {
                    $('#bodega_nueva').val('')
                    $('#bodega_peso').val('')
                    var val = data[0].pk
                    var name = data[0].fields.number
                    var product = data[1].fields.name
                    var weight = data[0].fields.weight
                    $('#id_Wineries').append('<option selected value=' + val + '>' + name + ': ' + product + '; Peso: ' + weight + ' Toneladas</option>');
                    $("#wineries_list").append('<li><span>' + name + ': ' + product + '; ' + weight + ' Toneladas Métricas</span></li>');
                    $('#not_winerie').css('display', 'none');
                },
            });
        }
    })

    $('#bodega_peso').keypress(function (e) {
        if (e.keyCode == 13) {
            event.preventDefault()
            $.ajax({
                data: {
                    'transaccion': $('#id_order_number').val(),
                    'bodega_nueva': $("#bodega_nueva").val(),
                    'producto': $('#bodega_product').val(),
                    'peso': $('#bodega_peso').val(),
                },
                url: "{% url 'transactions:add_wineries' %}",
                type: 'post',
                beforeSend: function () { },
                success: function (data) {
                    $('#bodega_nueva').val('')
                    $('#bodega_peso').val('')
                    var val = data[0].pk
                    var name = data[0].fields.number
                    var product = data[1].fields.name
                    var weight = data[0].fields.weight
                    $('#id_Wineries').append('<option selected value=' + val + '>' + name + ': ' + product + '; Peso: ' + weight + ' Toneladas</option>');
                    $("#wineries_list").append('<li><span>' + name + ': ' + product + '; ' + weight + ' Toneladas Métricas</span></li>');
                    $('#not_winerie').css('display', 'none');
                },
            });
        }
    })

    $('#bodega_nueva_button').on('click', function () {
        event.preventDefault();
        $.ajax({
            data: {
                'transaccion': $('#id_order_number').val(),
                'bodega_nueva': $("#bodega_nueva").val(),
                'producto': $('#bodega_product').val(),
                'peso': $('#bodega_peso').val(),
            },
            url: "{% url 'transactions:add_wineries' %}",
            type: 'post',
            beforeSend: function () { },
            success: function (data) {
                $('#bodega_nueva').val('')
                $('#bodega_peso').val('')
                var val = data[0].pk
                var name = data[0].fields.number
                var product = data[1].fields.name
                var weight = data[0].fields.weight
                $('#id_Wineries').append('<option selected value=' + val + '>' + name + ': ' + product + '; Peso: ' + weight + ' Toneladas</option>');
                $("#wineries_list").append('<li><span>' + name + ': ' + product + '; ' + weight + ' Toneladas Métricas</span></li>');
                $('#not_winerie').css('display', 'none');

                var weight_act = Number($('#id_net_weight').val());
                $('#id_net_weight').val(weight_act + Number(weight));
            },
        });
    })

    $('#destino_button').on('click', function () {
        event.preventDefault();
        $.ajax({
            data: {
                'destino': $('#destino_input').val(),
            },
            url: "{% url 'transactions:add_destinations' %}",
            type: 'post',
            beforeSend: function () { },
            success: function (data) {
                console.log(data)
                $('#destino_input').val('')
                var val = data[0].pk
                var destiny = data[0].fields.destiny
                $('#id_destinations').append('<option selected value=' + val + '>' + destiny + ' Toneladas</option>');
                $("#destinations_list").append('<li  class="col-md-6" style="display: inline;"> <span class="ti-control-record"></span>' + destiny + '</li>');
                $('#not_destiny').css('display', 'none');
            },
        });
    })

    $('#destino_input').keypress(function (e) {
        if (e.keyCode == 13) {
            event.preventDefault()
            $.ajax({
                data: {
                    'destino': $('#destino_input').val(),
                },
                url: "{% url 'transactions:add_destinations' %}",
                type: 'post',
                beforeSend: function () { },
                success: function (data) {
                    console.log(data)
                    $('#destino_input').val('')
                    var val = data[0].pk
                    var destiny = data[0].fields.destiny
                    $('#id_destinations').append('<option selected value=' + val + '>' + destiny + ' Toneladas</option>');
                    $("#destinations_list").append('<li><span>' + destiny + '</span></li>');
                    $('#not_destiny').css('display', 'none');
                },
            });
        }
    })

    $('#cliente_recibidor_button').on('click', function () {
        event.preventDefault();
        $.ajax({
            data: {
                'cliente': $('#cliente_recibidor_input').val(),
            },
            url: "{% url 'transactions:add_reciving_customers' %}",
            type: 'post',
            beforeSend: function () { },
            success: function (data) {
                console.log(data)
                $('#cliente_recibidor_input').val('')
                var val = data[0].pk
                var name = data[0].fields.name
                $('#id_receiving_customer').append('<option selected value=' + val + '>' + name + ' </option>');
                $("#customer_list").append('<li>' + name + '</li>');
                $('#not_customer').css('display', 'none');
            },
        });
    })

    $('#cliente_recibidor_input').keypress(function (e) {
        if (e.keyCode == 13) {
            event.preventDefault()
            $.ajax({
                data: {
                    'cliente': $('#cliente_recibidor_input').val(),
                },
                url: "{% url 'transactions:add_reciving_customers' %}",
                type: 'post',
                beforeSend: function () { },
                success: function (data) {
                    console.log(data)
                    $('#cliente_recibidor_input').val('')
                    var val = data[0].pk
                    var name = data[0].fields.name
                    $('#id_receiving_customer').append('<option selected value=' + val + '>' + name + ' </option>');
                    $("#customer_list").append('<li>' + name + '</li>');
                    $('#not_customer').css('display', 'none');
                },
            });
        }
    })

    $('#transport_add').on('click', function () {
        event.preventDefault();
        if($('#id_direction').val()){
            var direction = $('#id_direction').val()
        }else{
            var direction = ''
        }
        if($('#id_comment').val()){
            var comment = $('#id_comment').val()
        }else{
            var comment = ''
        }
        $.ajax({
            data: {
                'id_transport_weight': $('#id_transport_weight').val(),
                'id_vehicle': $('#id_vehicle').val(),
                'id_license_plate': $('#id_license_plate').val(),
                'id_driver_name': $('#id_driver_name').val(),
                'id_ficha': $('#id_ficha').val(),
                'id_boat_alm': $('#id_boat_alm').val(),
                'id_balance': $('#id_balance').val(),
                'id_freight_paid_by': $('#id_freight_paid_by').val(),
                'id_direction': direction,
                'id_comment': comment,
            },
            url: "{% url 'transactions:add_transport' %}",
            type: 'post',
            beforeSend: function () { },
            success: function (data) {
                console.log(data)
                // $('#cliente_recibidor_input').val('')
                var val = data[0].pk
                var id_vehicle = data[0].fields.id_vehicle
                var transport_weight = data[0].fields.transport_weight
                var start_date = data[0].fields.start_date
                var license_plate = data[0].fields.license_plate
                var driver_name = data[0].fields.driver_name
                var ficha = data[0].fields.ficha
                var direction = data[0].fields.direction
                var boat_alm = data[0].fields.boat_alm
                var balance = data[0].fields.balance
                var freight_paid_by = data[0].fields.freight_paid_by
                var comment = data[0].fields.comment
                $('#id_transport_heavy').val(parseFloat($('#id_transport_heavy').val()) + parseFloat(transport_weight))
                $('#pesada').text( $('#id_transport_heavy').val())
                $('#id_transport').append('<option selected value=' + val + '> </option>');
                $("#transport_list").append('<li>' + id_vehicle + '<br>Peso:' + transport_weight + '<br>Fecha de adición' + start_date + '<br>' + license_plate + '<br>'+ driver_name + '<br>' + ficha+ '<br>'+ direction + '<br>'+ boat_alm + '<br>'+ balance + '<br>'+ freight_paid_by + '<br>'+ comment  + '</li>');
                $('#not_transport').css('display', 'none');
            },
        });
    })


</script>
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>

<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>


{% endblock %}