{% extends 'base/base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% load static %}
{% load humanize %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
<link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Seguimiento de la orden nominada</h2>
            <p class="card-description text-center">
                Información de carga:
            </p>
            <form class="form-sample" id="" method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1 mb-xl-3" style="background-color: #F5F7FF;">
                    <div class="col-md-6 mt-xl-3">
                        <h3 class="mb-xl-4">Tipo de orden: <span style="color: #57B657;"> {{ orden.order_type|title }}</span></h3>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <label for="id_state" class="mt-xl-4 mr-xl-3 ml-xl-3">Estado de la orden:</label>
                            <select class="custom-select add-order mt-xl-3 mr-xl-3" id="id_state" name="state"
                                style="width: 50%;" disabled>
                                <option value="Aceptado" {% if orden.state == 'Aceptado' %} selected {% endif %}>Aceptado
                                </option>
                                <option value="Nominado" {% if orden.state == Nominado %} selected {% endif %} disabled>
                                    Nominado</option>
                                <option value="En operación" {% if orden.state == 'En operación' %} selected {% endif %}>
                                    En operación</option>
                                <option value="Finalizado" {% if orden.state == 'Finalizado' %} selected {% endif %}>
                                    Finalizado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Número de Orden:
                                <b>000{{ orden.id }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Número de referencia (Cliente):
                                <b>{{ orden.number_invoice_client }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Número de referencia (Aivepet):
                                <b>{{ orden.number_invoice_aivepet }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Nombre del Cliente:
                                <b>{{ orden.customer_name.first_name }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Nombre del buque: <b>{{ orden.buque_name }}</b></div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Nombre del puerto: <b>{{ orden.port_name }}</b></div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Número del muelle: <b>{{ orden.numero_muelle }}</b></label>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Productos:
                                <ul>
                                    {% for product in orden.product.all %}
                                        <li>
                                            <b>{{ product.product_id.name|title }} {{ product.weight|floatformat:3|intcomma }} (TM) .</b>
                                            <br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label"> Cantidad total:
                                <ul>
                                        <li>
                                            <strong>{{ orden.total_product_weight|floatformat:3|intcomma }}  (TM) .</strong>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Unidad de medida:
                                <b>{{ orden.unit_measurement }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <div class="col-sm-12 col-form-label">Fecha de registro:
                                <b>{{ orden.start_date }}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Estatus de la operación:</h3>
                    </div>
                    {% if orden.status.all %}
                    {% for state in orden.status.all %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li>
                                <span>Estado: {{ state.state }} <br>
                                    Comentario: {{ state.comment }} <br>
                                    Fecha: {{ state.fecha|date:"d/m/Y g:i:a" }}
                                </span>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li id="not_status">
                                No hay Estatus registrados
                            </li>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Bill Lading (BL)::</h3>
                    </div>
                    <div class="col-md-12 pl-xl-5">
                        <div class="form-group row text-center">
                            <li>
                                <span> <strong> BL Total: {{ orden.total_bls|floatformat:3|intcomma }}  (TM </strong> <br>
                                </span>
                            </li>
                        </div>
                    </div>
                    
                    <div class="col-md-12" style="margin-top: 0px;">
                        <hr>
                    </div>
                    <br> <br>
                    {% if orden.multiple_bl.all %}
                    {% for bl in orden.multiple_bl.all %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li>
                                <span>
                                    BL: {{ bl.bl|floatformat:3|intcomma }} (TM) <br>
                                    
                                    ° Cliente: {{ bl.receiving_customer.company_name }}
                                </span>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Bodegas:</h3>
                    </div>
                    {% if orden.Wineries.all %}
                    {% for winerie in orden.Wineries.all %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li>
                                <span>{{ winerie.product.name|title }}: {{ winerie.number|title }}:
                                    {{ winerie.weight|floatformat:3|intcomma }} (TM) <br> Fecha de adición:
                                    {{ winerie.start_date|date:"d/m/Y g:i:a" }}
                                </span>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li id="not_winerie">
                                No hay bodegas registradas
                            </li>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li>
                                <span> <strong>Total en bodegas: {{ orden.net_weight|floatformat:3|intcomma }}(TM)</strong>
                                </span>
                            </li>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Cliente Suplidor:</h3>
                    </div>
                    <div class="col-md-12 pl-xl-5">
                        <div class="form-group row">
                            <li class="ml-xl-4 mr-xl-4">
                                <span>Empresa: {{ orden.company_name }}
                            </li>
                            <li class="ml-xl-4 mr-xl-4">
                                <span>Responsable: {{ orden.name }}
                                </span>
                            </li>
                            <li class="ml-xl-4 mr-xl-4">
                                <span> Nro de Identificación: {{ orden.dni }}
                                </span>
                            </li>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Clientes compradores:</h3>
                    </div>
                    {% if orden.receiving_customer.all %}
                    {% for customer in orden.receiving_customer.all %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li>
                                <span>Empresa: {{ customer.company_name }} <br>
                                    Responsable: {{ customer.name }} <br>
                                    {{ customer.dni }} <br>
                                    Fecha de adición {{ customer.start_date|date:"d/m/Y g:i:a" }} <br>
                                    {% if orden.order_type == 'carga' %} Cargado: {{ customer.quantity|floatformat:3|intcomma }} (TM) 
                                                    {% else %}
                                                        Descargado: {{ customer.quantity|floatformat:3|intcomma }} (TM) 
                                                    {% endif %}
                                </span>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li id="not_customer">
                                No hay clientes registrados
                            </li>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Destinos:</h3>
                    </div>
                    {% if orden.destinations.all %}
                    {% for destiny in orden.destinations.all %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Nombre del cliente: {{ destiny.customer_name|title }} <br> Dirección: {{ destiny.destiny }} {% for product in destiny.product.all %} <br> Producto: {{ product.name|title }} {% endfor %} <br> Fecha de adición: {{ destiny.start_date|date:"d/m/Y g:i:a" }}</span>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li id="not_destiny">
                                No hay destinos registrados
                            </li>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Transportes:</h3>
                    </div>
                    {% if orden.transport.all %}
                    {% for trans in orden.transport.all %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>
                                    Cliente recibidor: {{ trans.customer_name.name|title }} - {{ trans.customer_name.company_name|title }}
                                    <br>
                                    <ul>
                                        <!-- ° Viaje: {{ trans.viaje }}
                                        <br> -->
                                        ° Fecha de adición: {{ trans.start_date|date:"d/m/Y g:i:a" }}</span>
                                        <br>
                                        ° Tipo de vehículo: {{ trans.vehicle|title }}
                                        <br>
                                        ° Placa: {{ trans.license_plate|title }}
                                        <br>
                                        ° Placa del deposito: {{ trans.tank_plate|title }}
                                        <br>
                                        ° Nombre del chofer: {{ trans.driver_name|title }}
                                        <br>
                                        ° Guía: {{ trans.ficha|title }}
                                        <br>
                                        ° Sindicato: {{ trans.syndicate|title }}
                                        <br>
                                        ° Puerto: {{ trans.port|title }}
                                        <br>
                                        ° T.Muelle: {{ trans.T_Muelle|title }}
                                        <br>
                                        ° Barco/ALM: {{ trans.boat_alm|title }}
                                        <br>
                                        ° Dirección: {{ trans.direction|title }}
                                        <br>
                                        ° Flete pagado por: {{ trans.freight_paid_by|title }}
                                        <br>
                                        ° Comentario: {{ trans.comment|title }}
                                        <br>
                                        ° Peso bruto: {{ trans.gross_weight|title|floatformat:3|intcomma }} (TM) 
                                        <br>
                                        ° Peso de tara: {{ trans.tare_weight|title|floatformat:3|intcomma }} (TM) 
                                        <br>
                                        ° Peso Neto: {{ trans.net_weight|title|floatformat:3|intcomma }} (TM) 
                                    </ul>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li id="not_transport">
                                No hay transportes registrados
                            </li>
                        </div>
                    </div>
                    {% endif %}
                </div>
                
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Draft surveys: (TM) </h3>
                    </div>
                    {% if orden.draft %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Draft Inicial: {{ orden.draft|floatformat:3|intcomma }} (TM) </span>
                            </li>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li id="not_draft">
                                No hay draft inicial registrado
                            </li>
                        </div>
                    </div>
                    {% endif %}
                    {% if orden.final_draft == '0' %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li id="not_final_draft">
                                No hay draft final registrado
                            </li>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Draft Final: {{ orden.final_draft|floatformat:3|intcomma }}</span> (TM) 
                            </li>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if orden.cant_carg == '0' or  orden.cant_carg == ''  %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li id="not_final_draft">
                                No hay draft en puerto de carga registrado
                            </li>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Draft en puerto de carga: {{ orden.cant_carg|floatformat:3|intcomma }}</span> (TM) 
                            </li>
                        </div>
                    </div>
                    {% endif %}
                </div>
                
                <hr>
                <div class="row rounded border border-secondary ml-xl-1 mr-xl-1" style="background-color: #F5F7FF;">
                    <div class="col-md-12 mt-xl-3">
                        <h3 class="mb-xl-4 text-center">Totales: (TM) </h3>
                    </div>
                    {% if orden.state == 'En operación' %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Remanente  {% if orden.order_type == 'carga' %}por cargar: {% else %} a bordo: {% endif %} 
                                    </strong><span id="remanente">
                                    </span>
                                </strong>(TM)
                            </li>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Diferencia: <strong>{{ orden.difference|floatformat:3|intcomma }}</strong> (TM) 
                            </li>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Total de la pesada: <strong>{{ orden.transport_heavy|floatformat:3|intcomma }} </strong></span> (TM) 
                            </li>
                        </div>
                    </div>
                    {% if orden.order_type == 'carga' %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Cantidad cargada - Draft (Puerto de Carga): <strong>{{ f|floatformat:3|intcomma }} </strong></span> (TM) 
                            </li>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if orden.order_type == 'descarga' %}
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>BL (Puerto de Carga): <strong>{{ a1|floatformat:3|intcomma }} </strong></span> (TM) 
                            </li>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Draft (Puerto de Carga): <strong>{{ b|floatformat:3|intcomma }}</strong> </span> (TM) 
                            </li>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>BL (Puerto de Descarga): <strong> {{ c|floatformat:3|intcomma }} </strong></span> (TM) 
                            </li>
                        </div>
                    </div>
                    <div class="col-md-6 pl-xl-5">
                        <div class="form-group row">
                            <li class="col-md-12">
                                <span>Draft (Puerto de Descarga): <strong>{{ d|floatformat:3|intcomma }} </strong> </span> (TM) 
                            </li>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    let draft =  '{{ orden.draft }}';
    let pesada =  '{{ orden.transport_heavy }}';
    let remanente = 0;
    console.log(draft)
    console.log(pesada)
    remanente = (parseFloat(draft) - parseFloat(pesada)).toFixed(2)
    $('#remanente').text(remanente.replace(/\D/g, "").replace(/([0-9])([0-9]{3})$/, '$1,$2').replace(/\B(?=(\d{3})+(?!\d)\.?)/g, "."))
</script>
{% endblock %}

<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
