{% extends 'base/base.html' %}
{% block title %}
Lista de Clientes
{% endblock %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Lista de Clientes registrados
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-datatable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>Id</th>
                                        <th>RIF</th>
                                        <th>Empresa</th>
                                        <th>Dirección</th>
                                        <th>Nombre</th>
                                        <!-- <th>Usuario</th> -->
                                        <th>Email</th>
                                        <th>Tlf</th>
                                        <!-- <th>Rol</th> -->
                                        <th>Fecha de registro</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        {% if user.role == 'CL' %}
                                        <tr class="text-center">
                                            <td>{{ user.pk }} </td>
                                            <td>{{ user.rif }} </td>
                                            <td>{{ user.company_name }}</td>
                                            <td>{{ user.direction }}</td>
                                            <td>{{ user.first_name|title }} {{ user.last_name|title }}</td>
                                            <!-- <td>{{ user.username }} </td> -->
                                            <td>{{ user.email }} </td>
                                            <td>{{ user.phone_number }} </td>
                                            <!-- <td>
                                                {% if user.role == 'AD' %}
                                                Admin
                                                {% elif user.role == 'CL' %}
                                                Cliente
                                                {% elif user.role == 'SU' %}
                                                Supervisor
                                                {% else %}
                                                Operador
                                                {% endif %}
                                            </td> -->
                                            <td>{{ user.date_joined|date:"d/m/Y g:i:a" }} </td>
                                            <td>
                                                <a class="btn btn-secondary" href="{% url 'core:user_detail' pk=user.pk %}">Ver</a>
                                                <br>
                                                <a class="btn btn-success mt-sm-1" href="{% url 'core:user_edit' pk=user.pk %}">Editar</a>
                                                <br>
                                                <a class="btn btn-danger mt-sm-1" href="{% url 'core:delete_user' pk=user.pk %}">Eliminar</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
    $('#order-datatable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        },
    });
} );
</script>
{% endblock %}